header{
    padding: 3em 8em;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
}

.projetos{
    padding: 6em 5em;
}

.projetos-texto h1{
    font-size: 46px;
    line-height: 24px;
    font-weight: bold;
}

.projetos-texto p{
    line-height: 24px;
    font-weight: 400;
    padding: 2em 0 4em 0;
    max-width: 650px;
    letter-spacing: 0.1em;
    border-bottom: solid 1px #D1D1D1;

}

.casas {
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
}

.casas-item {
    position: relative;
}

.casas-legenda {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFFFFF;
    padding: 1em;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.casas-item:hover .casas-legenda {
    opacity: 1;
}

.casas-item:hover{
    transform: scale(1.02);
    transition: 250ms;
}